* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(61, 59, 59);
}

div.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5px;
  margin-top: 100px;
  height: 350px;
  width: 300px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: black;
  padding: 5px;
}

div.container > div {
  grid-column: 1 / -1;
  color: white;
  display: flex;
  justify-content: end;
  align-self: end;
}

section > button {
  height: 60px;
  width: 60px;
}

p.display {
  font-size: 4rem;
}

div.container > button {
  border-radius: 30px;
  border: 0.5px solid grey;
  font-size: 20px;
}

div.container > button:hover {
  cursor: pointer;
  background-color: #6a6a6a;
}

div.container > button.zero {
  width: 100%;
}
